* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.bbd {
  background: rgba(0, 0, 0, 0.7) url(./image/guitar-g20c39e5c4_1920.jpg);
  background-repeat: no-repeat;
  height: 721px;
  position: relative;
  width: 1519px;
  margin: 0;
  padding: 0;
  background-blend-mode: darken;
}
.bodyh {
  text-align: center;
  position: relative;
  top: 250px;
}
.but {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.bbut {
  border-radius: 20px;
  border: none;
  background-color: red;
  padding: 10px 30px;
  text-align: center;

}
.cards {
  display: flex;
}
.card {
  margin: 10px;
  background-color: rgb(39, 39, 39);
  /* border-radius: 10px; */
}
.card:hover {
  box-shadow: 2px 2px 2px 2px #888888;
  background: url("./image/grey.jpg") no-repeat scroll right top;
  cursor: pointer;
}
.card-title {
  color: white;
}
.card img {
  height: 220px;

  /* border-radius: 10px; */
}
h3 {
  color: white;
  padding-left: 10px;
  padding-top: 5px;
}
.navColour {
  font-weight: bold;
  font-size: larger;
}

/* song bar */
.bottom{
  position: sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom:0;
  margin-top: 100px;
  position: sticky;
  display: flex;
  flex-direction: column;
 

  justify-content: center;
  align-items: center;
}
.icons{
  margin-top: 17px;
}
#myProgressBar{
  width: 80vw;
  text-align: center;
  cursor: pointer;
}
.songInfo{
  position: absolute;
  left: 9vw;
  font-family: Arial, Helvetica, sans-serif;
}