* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.bbd {
  background: rgba(0, 0, 0, 0.7) url(./image/guitar-g20c39e5c4_1920.jpg);
  background-repeat: no-repeat;
  height: 721px;
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-blend-mode: darken;
}
.bodyh {
  text-align: center;
  position: relative;
  top: 250px;
}
.but {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.bbut {
  border-radius: 20px;
  border: none;
  background-color: red;
  padding: 10px 30px;
  text-align: center;

}
.cards {
  display: flex;
}
.card {
  margin: 10px;
  background-color: rgb(39, 39, 39);
  /* border-radius: 10px; */
}
.card:hover {
  box-shadow: 2px 2px 2px 2px #888888;
  background: url("./image/grey.jpg") no-repeat scroll right top;
  cursor: pointer;
}
.card-title {
  color: white;
}
.card img {
  height: 220px;

  /* border-radius: 10px; */
}
h3 {
  color: white;
  padding-left: 10px;
  padding-top: 5px;
}
.navColour {
  font-weight: bold;
  font-size: larger;
}

/* song bar */
.bottom{
  position: sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom:0;
  margin-top: 100px;
  position: sticky;
  display: flex;
  flex-direction: column;
 

  justify-content: center;
  align-items: center;
}
.icons{
  margin-top: 17px;
}
#myProgressBar{
  width: 80vw;
  text-align: center;
  cursor: pointer;
}
.songInfo{
  position: absolute;
  left: 9vw;
  font-family: Arial, Helvetica, sans-serif;
}
@media(max-width: 768px){
  .cards {
    display: list-item;
    flex-direction: row;
    justify-content: center;
    margin-left: 55px;
  }
  .card {
    margin: 50px;
    background-color: rgb(39, 39, 39);
    /* border-radius: 10px; */
    height: auto;
    width:82rem !important;
    height: 60rem;
    
    
  }
  .card img {
    height: 700px;
    width: 1310px;
   
  }
  .card-body{
    width: 500px;
  }
  .card-title {
    font-size: 70px;
    text-align: center;
  }
  .btn-primary{
font-size: 50px;

text-align: center;
margin-left: 100px;
margin-top: 20px;
 
  }
  
  #myProgressBar{
    margin-left: 230px;
    width: 300vw;
    
  }


  .bottom{
    position: sticky;
    height: 100px;
    background-color: transparent;
    color: white;
    bottom:0;
    margin-top: 100px;
    position: sticky;
    display: flex;
    flex-direction: column;
   
  
    justify-content: center;
    align-items: center;
  }


  .songInfo{
    position: absolute;
    font-size: 7vw;
    font-family: Arial, Helvetica, sans-serif;
  }


  .icons{
    margin-left: 550px;
  }
}
@media(max-width: 385px){
  .card {
    width:72rem !important;
    
  }
  .card img {
    height: 500px;
    width: 1110px;
   
  }

}